html, body
{
    background-color: black;
    max-width: 100%;
    margin: 0;
    padding: 0;
}



/* ========================================== */
/* ============ HOMEPAGE DESIGNS ============ */
/* ========================================== */

/* To position the logo */
.logo_Container
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 30%;
    height: 100px;
    margin-bottom: 20px;
}

/* To remove the link decoration */
a.logolink
{
    text-decoration: none;
}

/* To edit the logo's size */
.logo
{
    width: 100%;
    height: 100%;
}

/* Navigation box for promotion and register */
.navigation
{
    width: 33%;
    float: left;
    background-color: #fd8fd7;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 50px;
    margin-top: 20px;
    transition: 0.5s ease;
    text-decoration: none;
    padding: 0;
    border: none;
    outline: none;
    position: relative;
}

/* Navigation box for shop */
.navigation2
{
    width: 34%;
    float: left;
    background-color: #fd8fd7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 50px;
    margin-top: 20px;
    transition: 0.5s ease;
}

/* designing the dropdown for navigation 2 */
.dropdown
{
    display: none;
    position: absolute;
    background-color: #d1a1c0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: inherit;
}

/* Changing color on mouse hover for promotion and register */
.navigation:hover
{
    cursor: pointer;
    background-color: #f736b3;
}

/* Changing color on mouse hover for shop */
.navigation2:hover
{
    
    background-color: #f736b3;
}

/* When hover on shop, dropdown will be displayed */
.navigation2:hover .dropdown
{
    display: block;
}

/* Editing the button to make it look like part of the dropdown */
.dropdown button
{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
    transition: 0.5s ease;
    display: block;
    background: none;
    outline: none;
    border: none;
    padding: none;
    width: 100%;
}

/* Changin button color on hover */
.dropdown button:hover
{
    background-color: #bb4090;
    cursor: pointer;
}

/* Editing the size and position of best seller title */
.bestseller
{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 180px;
    font-size: 50px;
}

/* Text size */
.bestseller h1
{
    font-size: 100%;
}

/* To position the slider */
.slider_container
{
    width: 60%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 0;
}

/* Slide content container */
.slider
{
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: white;
}

/* To edit size and position of the image in the slider */
.slider_img
{
    width: 60%;
    height: 400px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
}

/* Shows product info below image */
.productInfo
{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
    vertical-align: middle;
    line-height: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Next button for slider */
#nextButton
{
    position: absolute;
    right: 0px;
    color: black;
    width: 50px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    top: 50%;
    margin-top: -35px;
    transition: 0.5s ease;
    font-size: 50px;
}

#nextButton:hover
{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    cursor: pointer;
}

/* Previous button for slider */
#prevButton
{
    position: absolute;
    left: 0px;
    color: black;
    width: 50px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    top: 50%;
    margin-top: -35px;
    transition: 0.5s ease;
    font-size: 50px;
}

#prevButton:hover
{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    cursor: pointer;
}

/* ========================================== */
/* =========== PROMOTION DESIGNS ============ */
/* ========================================== */

.group1
{
    width: 1200px;
}

.col
{
    float: left;
}

.col2
{
    float: right;
}

.promotion1
{
    width: 300px;
    height: 300px;
    margin-left: 75px;
    margin-top: 150px;
    border: solid;
    border-color: red;
    border-left-color: white;
    border-bottom-color: white;
    border-radius: 5px;
}

.prm1
{
    width: 270px;
    height: 250px;
}

.square1
{   
    margin-top: 150px;
    margin-left: 100px;
    width: 200px;
    height: 150px;
    outline-color: red;
    border: 5px solid red;
    background-color: white;
    border-bottom-color: white;
   text-align: center;
   color: red;
   font-weight: bold;
   font-family: Verdana;
   font-size: 16pt;
}

.square2
{
    margin-top: 310px;
    margin-left: -210px;
    width: 200px;
    height: 130px
    outline-color: red;
    border: 5px solid red;
    border-top-color: white;
    background-color: white;
   text-align: center;
   color: black;
   font-weight: bold;
   font-family: Verdana;
   font-size: 18pt;
}

.button1
{
    margin-left: 250px;
    margin-top: 270px;
    color: white;
    border: 5px solid red;
    background-color: red;
    font-size: 12pt;
    font-family: verdana;
    font-weight: bold;
}

.button2
{
    margin-right: 900px;
    margin-top: 340px;
    margin-bottom: 300px;
    color: white;
    border: 5px solid palevioletred;
    background-color: palevioletred;
    font-size: 12pt;
    font-family: verdana;
    font-weight: bold;
}

.circle1
{
    margin-right: 580px;
    margin-top: -450px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    outline-color: palevioletred;
    border: 5px solid palevioletred;
    background-color: white;
   text-align: center;
   color: black;
   font-weight: bold;
   font-family: Verdana;
   font-size: 16pt;
}

.and
{
    margin-right: 605px;
    margin-top: -400px;
    font-size: 50pt;
    font-weight: bold;
    color: white;

}

.circle2
{
    margin-right: 550px;
    margin-top: -240px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    outline-color: palevioletred;
    border: 5px solid palevioletred;
    background-color: white;
   text-align: center;
   color: black;
   font-weight: bold;
   font-family: Verdana;
   font-size: 16pt;
}

.promotion2
{
    width: 450px;
    height: 400px;
    margin-right: 20px;
    margin-top: -470px;
    border: solid;
    border-color: palevioletred;
    border-left-color: white;
    border-bottom-color: white;
    border-radius: 5px;
}

.prm2
{
    margin: 15px;
    text-align: center;
    width: 420px;
    height: 370px;
}

hr.line1
{
    margin-top: 100px;
    margin-bottom: -100px;
    border-top-color: white;
    width: 1100px;
}

.title1
{
    font-size: 30pt;
    font-family: GEORGIA;
    margin-left: 480px;
    color: white;
    margin-top: 150px;
    margin-bottom: -80px;
}

.title2
{
    font-size: 30pt;
    font-family: georgia;
    margin-right: 420px;
    color: white;
    margin-top: 150px;
    margin-bottom: -140px;
}
/* ========================================== */
/* ============ REGISTER DESIGNS ============ */
/* ========================================== */

.formBackground
{
    margin-top: 50px;
    width: 50%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.registrationform
{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 15px;
    color: rgb(58, 58, 58);
    font-weight: bold;
}

.formList
{
    text-align: left;
    margin-bottom: 5px;
    margin-left: 20px;
}

.formList label
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    color: rgb(49, 49, 49);
    font-weight: bold;
}

.userinput
{
    border: none;
    border-bottom: 2px solid rgb(49, 49, 49);
    font-size: 15px;
    padding-bottom: 5px;
    margin-top: 8px;
    width: 95%;
    margin-bottom: 10px;
    font-weight: bold;
    outline: none;
}

input#visibilityToggle
{
    transform: scale(1.3);
}

#topspacing
{
    margin-top: 7px;
}

#bottomspacing
{
    margin-bottom: 25px;
}

.radio_label
{
    border: none;
    font-size: 15px;
    font-weight: bold;
    width: 600px;
    color: rgb(49, 49, 49);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input.radioscale
{
    transform: scale(1.1);
}

select#countries
{
    color: rgb(116, 115, 115);
}

#address
{
    border: none;
    border-bottom: 2px solid rgb(49, 49, 49);
    font-size: 15px;
    padding-bottom: 10px;
    margin-top: 5px;
    width: 95%;
    height: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.agree_positioner
{
    font-weight: bold;
    text-align: center;
    color: rgb(58, 58, 58);
    font-size: 20px;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.submit_reset
{
    text-align: center;
    padding-bottom: 30px;
}

.Bdesign
{
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    font-size: 17px;
    outline: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: middle;
    line-height: 30px;
}

#bottomtext
{
    color: white;
    font-size: 18px;
    text-align: center; 
    margin-top: 22px;
    margin-bottom: 30px;
    font-family: Helvetica;
    background-color: rgb(235, 63, 63);
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    height: 50px;
    line-height: 50px;
}


/* Phone Size */
@media screen and (max-width:500px)
{
    /* ========================================== */
    /* ============ HOMEPAGE DESIGNS ============ */
    /* ========================================== */

    .navigation
    {
        width: 100%;
        margin-top: 0;
        position: relative;
    }
    .navigation2
    {
        width: 100%;
        margin-top: 0;
    }
    .dropdown
    {
        position: static;
        width: 100%;
    }
    .dropdown button 
    {
        position: static;
    }
    .slider_container
    {
        width: 100%;
        height: 200px;
    }
    .slider_img
    {
        height: 100%;
    }
    .logo_Container
    {
        width: 80%;
        height: 110px;
        margin-top: 20px;
    }
    .productInfo
    {
        height: 50px;
        line-height: 50px;
    }
    #nextButton
    {
        width: 30px;
        height: 50px;
        line-height: 50px;
        top: 50%;
        margin-top: -25px;
        font-size: 30px;
    }
    #prevButton
    {
        width: 30px;
        height: 50px;
        line-height: 50px;
        top: 50%;
        margin-top: -25px;
        font-size: 30px;
    }
    .bestseller
    {
        margin-top: 200px;
        margin-bottom: 0;
        font-size: 35px;
    }



    /* ========================================== */
    /* ============ REGISTER DESIGNS ============ */
    /* ========================================== */

    .formBackground
    {
        width: 90%;
        background-color: white;
    }

    .registrationform
    {
        font-size: 25px;
    }

    .formList
    {
        margin-left: 18px;
    }

    .formList label
    {
        font-size: 17px;
    }

    .userinput
    {
        font-size: 13px;
    }

    input#visibilityToggle
    {
        transform: scale(1.1);
    }

    .radio_label
    {
        font-size: 13px;
    }

    input.radioscale
    {
        transform: scale(1);
    }

    #address
    {
        font-size: 13px;
        height: 30px;
    }

    .agree_positioner
    {
        font-size: 17px;
    }

    .Bdesign
    {
        width: 80px;
        font-size: 15px;
    }

    #bottomtext
    {
        font-size: 17px;
        height: 30px;
        line-height: 30px;
    }
}




/* Tablet Size */
@media screen and (max-width:1024px) and (min-width:501px)
{
    /* ========================================== */
    /* ============ HOMEPAGE DESIGNS ============ */
    /* ========================================== */

    .navigation
    {
        width: 33%;
        margin-top: 0;
        position: relative;
    }
    .navigation2
    {
        width: 34%;
        margin-top: 0;
    }
    .dropdown
    {
        position: static;
        width: 100%;
    }
    .dropdown button 
    {
        position: static;
    }
    .slider_container
    {
        width: 80%;
        height: 300px;
    }
    .slider_img
    {
        height: 100%;
    }
    .logo_Container
    {
        width: 50%;
        height: 150px;
        margin-top: 30px;
    }
    .productInfo
    {
        height: 60px;
        line-height: 60px;
    }
    #nextButton
    {
        width: 40px;
        height: 60px;
        line-height: 60px;
        top: 50%;
        margin-top: -30px;
        font-size: 40px;
    }
    #prevButton
    {
        width: 40px;
        height: 60px;
        line-height: 60px;
        top: 50%;
        margin-top: -30px;
        font-size: 40px;
    }
    .bestseller
    {
        margin-top: 150px;
        font-size: 45px;
    }

    /* ========================================== */
    /* ============ REGISTER DESIGNS ============ */
    /* ========================================== */

    .formBackground
    {
        width: 70%;
    }

    .registrationform
    {
        font-size: 28px;
    }

    .formList
    {
        margin-left: 20px;
    }

    .formList label
    {
        font-size: 19px;
    }

    .userinput
    {
        font-size: 14x;
    }

    input#visibilityToggle
    {
        transform: scale(1.1);
    }

    .radio_label
    {
        font-size: 14px;
    }

    input.radioscale
    {
        transform: scale(1);
    }

    #address
    {
        font-size: 14px;
        height: 40px;
    }

    .agree_positioner
    {
        font-size: 17px;
    }

    .Bdesign
    {
        width: 90px;
        font-size: 18px;
    }

    #bottomtext
    {
        font-size: 19px;
        height: 40px;
        line-height: 40px;
    }
}





