html, body
{
    background-color: black;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

footer
{
    background-color: #fd8fd7;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 30px;
    vertical-align: center;
    line-height: 30px;
    font-size: 15px;
}

/* To position the logo */
.logo_Container
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 30%;
    height: 100px;
    margin-bottom: 20px;
    position: relative;
}

/* To remove the link decoration */
a.logolink
{
    text-decoration: none;
    z-index: 100;
}

/* To edit the logo's size */
.logo
{
    width: 100%;
    height: 100%;
    z-index: 100;
}

/* Navigation box for promotion and register */
.navigation
{
    width: 33%;
    float: left;
    background-color: #fd8fd7;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 50px;
    margin-top: 20px;
    transition: 0.5s ease;
    text-decoration: none;
    padding: 0;
    border: none;
    outline: none;
    position: relative;
}

/* Navigation box for shop */
.navigation2
{
    width: 34%;
    float: left;
    background-color: #fd8fd7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 50px;
    margin-top: 20px;
    transition: 0.5s ease;
    z-index: 1;
    position: relative;
}

/* designing the dropdown for navigation 2 */
.dropdown
{
    display: none;
    position: absolute;
    background-color: #d1a1c0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
}

/* Changing color on mouse hover for promotion and register */
.navigation:hover
{
    cursor: pointer;
    background-color: #f736b3;
}

/* Changing color on mouse hover for shop */
.navigation2:hover
{
    background-color: #f736b3;
}

/* When hover on shop, dropdown will be displayed */
.navigation2:hover .dropdown
{
    display: block;
}

/* Editing the button to make it look like part of the dropdown */
.dropdown button
{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
    transition: 0.5s ease;
    display: block;
    background: none;
    outline: none;
    border: none;
    padding: none;
    width: 100%;
}

/* Changin button color on hover */
.dropdown button:hover
{
    background-color: #bb4090;
    cursor: pointer;
}


/* ========================================== */
/* =========== PROMOTION DESIGNS ============ */
/* ========================================== */

/* To adjust title font and size */
.title1
{
    font-size: 30pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    margin-top: 180px;
    margin-bottom: -80px;
}

/* To place most content */
.group1
{
    width: 100%;
    height: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}

/* To position the image */
.makeup_img_positioner
{
    position: absolute;

    background-color: rgba(0, 0, 0, 0);

    width: 30%;
    height: 400px;

    top: 0;
    bottom: 0;
    left: 5%;

    text-align: center;

    margin-top: 50px;

    border: solid 5px #ad1027;
    border-left-color: #f66863;
    border-bottom-color: #f66863;
}

/* To position the image */
.makeup_img_positioner2
{
    position: absolute;

    background-color: rgba(0, 0, 0, 0);

    width: 30%;
    height: 400px;

    top: 0;
    bottom: 0;
    right: 5%;

    text-align: center;

    margin-top: 50px;

    border: solid 5px #f66863;
    border-left-color: #ad1027;
    border-bottom-color: #ad1027;
}

/* To adjust the size of the object */
.makeup_img_positioner img
{
    width: 95%;
    height: 95%;
    margin-top: 2.5%;
}

/* To adjust the size of the object */
.makeup_img_positioner2 img
{
    width: 95%;
    height: 95%;
    margin-top: 2.5%;
}

/* To adjust the promotion place */
.makeup_promo_info
{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    position: absolute;

    color: black;

    width: 20%;
    height: 380px;

    margin-left: 40%;
    margin-top: 60px;

    background-color: wheat;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 200%;

    border: solid 5px #f66863;
}

/* To edit the font size */
.makeup_promo_info h1
{
    color: #ad1027;
    font-size: 90%;
}

/* to position the snow or sakura effect */
#canvas 
{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;   
    height: 100vh;   
    z-index: 0;
}

/* To edit the font size and position */
.title2
{
    font-size: 30pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: -80px;
}

/* Edit the shape size and color of the button */
.buy_makeup_now
{
    text-decoration: none;
    background-color: white;
    color: black;
    outline: none;
    cursor: pointer;
    border: none;
    width: 10%;
    height: 50px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    top: 0;
    bottom: 0;
    right: 15%;

    margin-top: 225px;

    position: absolute;
    transition: 0.5s ease;
}

/* Change button color on hover */
.buy_makeup_now:hover
{
    color: wheat;
    background-color: rgba(91, 8, 168, 0.5);
}

/* Edit the shape size and color of the button */
.buy_makeup_now2
{
    text-decoration: none;
    background-color: white;
    color: black;
    outline: none;
    cursor: pointer;
    border: none;
    width: 10%;
    height: 50px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    top: 0;
    bottom: 0;
    left: 15%;

    margin-top: 225px;

    position: absolute;
    transition: 0.5s ease;
}

/* Change button color on hover */
.buy_makeup_now2:hover
{
    color: wheat;
    background-color: rgba(255, 37, 182, 0.5);
}


/* Phone Size */
@media screen and (max-width:500px)
{
    .logo_Container
    {
        width: 80%;
        height: 110px;
        margin-top: 20px;
    }

    .navigation
    {
        width: 100%;
        margin-top: 0;
        position: relative;
    } 

    .navigation2
    {
        width: 100%;
        margin-top: 0;
    }

    .dropdown
    {
        position: static;
        width: 100%;
    }

    .dropdown button 
    {
        position: static;
    }

    /* ========================================== */
    /* =========== PROMOTION DESIGNS ============ */
    /* ========================================== */


    .title1
    {
        font-size: 30pt;
        margin-top: 200px;
        margin-bottom: -80px;
    }

    .group1
    {
        width: 100%;
        height: 300px;
        margin-top: 100px;
        margin-bottom: 100px;
        position: relative;
    }

    .makeup_img_positioner
    {
        position: relative;
        width: 90%;
        height: 260px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .makeup_img_positioner img
    {
        width: 95%;
        height: 95%;
        margin-top: 2.5%;
    }

    .makeup_img_positioner2
    {
        position: relative;
        width: 90%;
        height: 300px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .makeup_img_positioner2 img
    {
        width: 95%;
        height: 95%;
        margin-top: 2.5%;
    }

    .makeup_promo_info
    {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: relative;
        width: 80%;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        text-align: left;
        font-size: 100%;
        text-align: center;
    }

    .makeup_promo_info h1
    {
        color: #ad1027;
        font-size: 90%;
    }

    #canvas 
    {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100vw;   
        height: 100vh;   
        z-index: 0;
    }

    .title2
    {
        font-size: 30pt;
        margin-top: 350px;
        margin-bottom: -80px;
        position: relative;
    }

    .buy_makeup_now
    {
        width: 30%;
        height: 50px;
        font-size: 20px;

        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        margin-left: auto;
        margin-right: auto;

        margin-top: 500px;

        position: absolute;
        transition: 0.5s ease;
    }

    .buy_makeup_now:hover
    {
        color: wheat;
        background-color: rgba(91, 8, 168, 0.5);
    }

    .buy_makeup_now2
    {
        width: 30%;
        height: 50px;
        font-size: 20px;

        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        margin-left: auto;
        margin-right: auto;

        margin-top: 525px;
        margin-bottom: 100px;
    }

    .buy_makeup_now2:hover
    {
        color: wheat;
        background-color: rgba(255, 37, 182, 0.5);
    }

    footer
    {
        margin-top: 350px;
    }
}


/* Tablet Size */
@media screen and (max-width:1024px) and (min-width:501px)
{
    .logo_Container
    {
        width: 50%;
        height: 150px;
        margin-top: 30px;
    }

    .navigation
    {
        width: 33%;
        margin-top: 0;
        position: relative;
    }

    .navigation2
    {
        width: 34%;
        margin-top: 0;
    }

    .dropdown
    {
        position: static;
        width: 100%;
    }

    .dropdown button 
    {
        position: static;
    }

    /* ========================================== */
    /* =========== PROMOTION DESIGNS ============ */
    /* ========================================== */


    .title1
    {
        font-size: 30pt;
        margin-top: 150px;
        margin-bottom: -80px;
    }

    .group1
    {
        width: 100%;
        height: 400px;
        margin-top: 100px;
        margin-bottom: 100px;
        position: relative;
    }

    .makeup_img_positioner
    {
        position: relative;
        width: 60%;
        height: 300px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .makeup_img_positioner img
    {
        width: 95%;
        height: 95%;
        margin-top: 1%;
        position: relative;
    }

    .makeup_img_positioner2
    {
        position: relative;
        width: 60%;
        height: 300px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .makeup_img_positioner2 img
    {
        margin-top: 1%;
    }

    .makeup_promo_info
    {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: relative;
        width: 40%;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        text-align: left;
        font-size: 100%;
        text-align: center;
    }

    .makeup_promo_info h1
    {
        color: #ad1027;
        font-size: 90%;
    }

    #canvas 
    {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100vw;   
        height: 100vh;   
        z-index: 0;
    }

    .title2
    {
        font-size: 30pt;
        margin-top: 300px;
        margin-bottom: -80px;
        position: relative;
    }

    .buy_makeup_now
    {
        width: 20%;
        height: 50px;
        font-size: 20px;

        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        margin-left: auto;
        margin-right: auto;

        margin-top: 525px;

        position: absolute;
        transition: 0.5s ease;
    }

    .buy_makeup_now:hover
    {
        color: wheat;
        background-color: rgba(91, 8, 168, 0.5);
    }

    .buy_makeup_now2
    {
        width: 20%;
        height: 50px;
        font-size: 20px;

        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        margin-left: auto;
        margin-right: auto;

        margin-top: 525px;
        margin-bottom: 100px;
    }

    .buy_makeup_now2:hover
    {
        color: wheat;
        background-color: rgba(255, 37, 182, 0.5);
    }

    footer
    {
        margin-top: 300px;
    }
}